<!-- Collapsible navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href=""><img class="logo" src="/assets/logos/logo-dropshadow-full.png" alt="Chat Channel" height="50"></a>
		</div>
		<div class="collapse navbar-collapse" id="nav">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<% if session[:user_id] %>
					<li><a href="/users/<%=session[:user_id]%>">Profile</a></li>
				<% else %>
					<li><a href="/sessions/new">Profile</a></li>
				<% end %>
				<li><a href="/users/<%= session[:user_id] %>/edit">Edit User</a></li>
				<li class="active"><a href="/channels/<%= @channel.id %>/edit">Edit Channel</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Admin</a></li>
				<% if session[:user_id] %>
					<li><a href="/logout">Logout</a></li>
				<% else %>
					<li><a href="/sessions/new">Login</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<!-- The current channel information -->
<div class="col-md-6 col-md-offset-3">
	<div class='block'>
		<h2><%= @channel.name %></h2>
		<p><%= image_tag @channel.logo.url(:thumb) %> </p>
		<p><%= @channel.created_at.strftime("Created on: %H:%M  %b %d, %Y") %></p>
		<p><%= @channel.updated_at.strftime("Last Updated: %H:%M  %b %d, %Y") %> </p>
		<!-- Hide the stream key unless clicked -->
		<p>Stream key (click to show): <span class="key"><%= @channel.secret %></span><span class="stars">************</span></p>

		<!-- Form to reset the stream key -->
		<%= form_for :channel, url: 'secret' do |f| %>
			<%= f.submit "New Key", :class => "btn btn-primary" %>
		<% end %>

	</div>
</div>

<!-- Form to edit the channel -->
<div class="col-md-6 col-md-offset-3">
	<% if session[:user_id] == @channel.user_id %>	
		<div class="block">
			<h2>Editting <%= @channel.name %></h2>
			<%= form_for :channel, url: 'patch' do |f| %>
				<div class='form-group'>
					<label for='channel'>Channel Name:</label>
					<%= f.text_field :name, :value => @channel.name, :class => 'form-control', :id => 'channel' %>
		    	</div>
		    	<div class='form-group'>
					<label for='description'>Channel Description:</label>
					<%= f.text_area :description, :value => @channel.description, :class => 'form-control', :id => 'description' %>
		    	</div>
		    	<div class='form-group'>
					<label for='logo'>Channel Logo:</label>
					<%= f.file_field :logo, :class => "btn btn-default", :id => 'logo' %>
				</div>
				<%= f.submit "Update", :class => "btn btn-primary pull-left" %>
			<% end %>

			<!-- Brings up a modal to confirm delete -->
			<button class='btn btn-danger pull-right' data-toggle="modal" data-target="#modal">Delete</button>

			<!-- Modal content -->
			<div class="modal fade" id="modal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content" style="padding:20px; background-color:#222;">
						<div class="modal-header">
							<button class="close" data-dismiss="modal" style="color:#fff;">&times;</button>
							<h4 class='modal-text'>Delete cannot be undone, are you sure?</h4><br>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
							<%= form_for :channel, url: 'delete' do |f| %>
								<%= f.submit "Delete", :class => "btn btn-danger pull-left" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<br><br>

		</div>
	<% end %>
</div>

<!-- Might refactor this, no idea why the previous version stopped working -->
<script type="text/javascript">
	$('.key').hide();
	$(document).on('click', '.stars', function(){
		$(".stars").hide();
		$(".key").show();
	})
	$(document).on('click', '.key', function(){
		$(".key").hide();
		$(".stars").show();
	})
</script>