
<script type="text/javascript">
	$(document).on('click', 'span', function(){
		$(".hide").toggle();
		$(".show").toggle();
	})
</script>

<div id="menubar">
	<p>
		<a href="/channels/main">Home</a>
		<% if session[:user_id] %>
			<a href="/users/<%=session[:user_id]%>">Profile</a>
		<% else %>
			<a href="/users/new">Profile</a>
		<% end %>
		<a href="#">FAQ</a>
		<a href="#">Blog</a>
		<a href="/users/<%=session[:user_id]%>/edit">Edit User</a>		
		<% if session[:user_id] %>
			<a class="logout" href="/logout">Logout</a>
		<% else %>
			<a class="logout" href="/sessions/new">Login</a>
		<% end %>
	</p>
</div>

<br><br>

<div class="block" style="text-align: left; color: white;">
	<h2 class='white'>Editting <%= @channel.name %></h2>
	<p><%= image_tag @channel.logo.url(:thumb) %> </p>
	<p><%= @channel.created_at.strftime("Created on: %H:%M  %b %d, %Y") %></p>
	<p><%= @channel.updated_at.strftime("Last Updated: %H:%M  %b %d, %Y") %> </p>
	<p>
		Stream key (click to show): 
		<span class="hide"><%= @channel.secret %></span> 
		<span class="show">************</span>
	</p>

	<% if session[:user_id] == @channel.user_id %>
		<%= form_for :channel, url: 'secret' do |f| %>
			<%= f.submit "New Key", :class => "button" %>
		<% end %>
	<% end %>
</div>

<br><br>

<% if session[:user_id] == @channel.user_id %>	
	<div class="block">
	<%= form_for :channel, url: 'patch' do |f| %>
			Name: <%= f.text_field :name, :value => @channel.name %><br>
			Description: <br><%= f.text_area :description, :cols => 50, :rows => 3, :value => @channel.description %><br>
			Logo: <%= f.file_field :logo %><br>
			<%= f.submit "Update", :class => "button" %>
	<% end %>

	<%= form_for :channel, url: 'delete' do |f| %>
		<%= f.submit "Delete", :class => "button" %>
	<% end %>
	</div>
<% end %>