<!-- Collapsible navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Chat Channel</a>
		</div>
		<div class="collapse navbar-collapse" id="nav">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<% if session[:user_id] %>
					<li><a href="/users/<%=session[:user_id]%>">Profile</a></li>
				<% else %>
					<li><a href="/sessions/new">Profile</a></li>
				<% end %>
				<li><a href="/users/<%= session[:user_id] %>/edit">Edit User</a></li>
				<li class="active"><a href="/channels/new">New Channel</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Admin</a></li>
				<% if session[:user_id] %>
					<li><a href="/logout">Logout</a></li>
				<% else %>
					<li><a href="/sessions/new">Login</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<!-- Form to make a new channel -->
<div class="col-md-6 col-md-offset-3">
	<div class="block">
		<h2>Make a new Channel</h2>

		<%= form_for :channel, url: 'create' do |f| %>
			<div class='form-group'>
				<label for='channel'>Channel Name:</label>
				<%= f.text_field :name, :placeholder => "Channel name", :class => 'form-control', :id => 'channel' %>
			</div>
			<div class='form-group'>
				<label for='description'>Channel Description:</label>
				<%= f.text_area :description, :placeholder => "Channel description...", :class => 'form-control', :id => 'description' %>
		  </div>
		  <div class='form-group'>
				<label for='logo'>Channel Logo:</label>
				<%= f.file_field :logo, :class => "btn btn-default", :id => 'logo' %>
			</div>
			<%= f.submit "New Channel", :class => "btn btn-primary" %>
		<% end %>

	</div>

</div>

<!-- Validation errors as dismissable alerts -->
<% if flash[:errors] %>
	<div class="col-md-6 col-md-offset-3">
		<% flash[:errors].each do |error| %>
			<div class="alert alert-danger alert-dismissable">
				<a href='' class="close" data-dismiss='alert' aria-label='close'>x</a>
				<%= error %>
			</div>
		<% end %>
	</div>
<% end %>