<script>jwplayer.key="t4gfNe6B8Hwm15IrPRD2V1AMB+LODHvxPPqA5Q==";</script>  
<div id="menubar">
	<p>
		<a href="/channels/main">Home</a>
		<% if session[:user_id] %>
			<a href="/users/<%=session[:user_id]%>">Profile</a>
		<% else %>
			<a href="/sessions/new">Profile</a>
		<% end %>
		<a href="#">FAQ</a>
		<a href="#">Blog</a>		
		<% if session[:user_id] %>
			<a class="logout" href="/logout">Logout</a>
		<% else %>
			<a class="logout" href="/sessions/new">Login</a>
		<% end %>
	</p>
</div>

<div id="stream">Loading the player ...</div>
<div id="chat">
	<div id="comments">
		<ul id='target'>
			<% @comments.each do |comment| %>
				<li class ="comment">
					<%= image_tag comment.user.avatar.url(:thumb), :class => 'image'%>
					<div class='text'>
						<a href="/users/<%=comment.user.id%>"><%= comment.user.username %></a> 
						<span style="color: silver;"><%= comment.created_at.strftime("%H:%M") %></span>
						<br><%= comment.body %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
	<div id="new_message">
		<% if session[:user_id] %>	
			<form>
				<textarea id='new_comment' placeholder='your comment...' name="body"></textarea>
				<input type="submit" name="Post" value="Post" class="post">
			</form>
		<% else %>
			<br><p style="font-weight: bold; text-align: center;">You must <a href="/sessions/new" style="color: #FF530D;">login</a> to leave a comment</p>
		<% end %>
	</div>
</div>

<div class="channel">
	<%= image_tag(@channel.logo.url(:thumb), :class => "image") %>
	<div class="text">
		<h3><%= @channel.name %></h3>
		<p><%= @channel.description %></p>
		<p><%= @channel.user.username %></p>
	</div>
</div>

<script type="text/javascript">

    // make video size based on screen size
    // also adjust chat height while we're at it

	var fq = window.matchMedia( "(min-width: 2400px)" );
	var mq = window.matchMedia( "(min-width: 1720px)" );
	var lq = window.matchMedia( "(min-width: 1400px)" );
	
	if (fq.matches) {
  		var w = 1920;
  		$('#chat').css("height","1080px");
  		$('#comments').css("height","1010px");
	} else if (mq.matches) {
  		var w = 1280;
  		$('#chat').css("height","720px");
  		$('#comments').css("height","650px");
	} else if (lq.matches) {
		var w = 960;
		$('#chat').css("height","540px");
		$('#comments').css("height","470px");
	} else {
		var w = 640;
		$('#chat').css("height","360px");
		$('#comments').css("height","290px");
	}

	// the jwplayer player

	var playerInstance = jwplayer("stream");

	playerInstance.setup({
    	file: "rtmp://192.168.1.28:1935/live/flv:" + <%= @channel.secret.to_json.html_safe %>,
    	width: w,
    	height: w*9/16,
    	primary: "flash",
    	autostart: true,
    	controls: true,
    	stretching: "exactfit",
	}); 
</script>

<script>
$(document).ready(function(){

	var channel = <%= @channel.id.to_json.html_safe %>;
	var socket = io.connect('http://192.168.1.250:3001');

	var objDiv = document.getElementById("comments");
	objDiv.scrollTop = objDiv.scrollHeight;

	$('#new_message').submit(function(){
		var comment = $('#new_comment').serialize();
		$.post(`/channels/${channel}/comment`, comment, function(data){
			socket.emit("new_post", {channel: channel, comment: comment});
			$('#new_comment').val('');
			$('#target').append(data)
			var objDiv = document.getElementById("comments");
			objDiv.scrollTop = objDiv.scrollHeight;
		})
	return false;
	})

	socket.on('broadcast', function (data){
		if(data.response.channel == channel){
			$.get(`/channels/${channel}/comment`, function(data){
				$('#comments').html(data)
				var objDiv = document.getElementById("comments");
				objDiv.scrollTop = objDiv.scrollHeight;
			})
		}
    });	
});
</script>