<!-- Collapsible navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Chat Channel</a>
		</div>
		<div class="collapse navbar-collapse" id="nav">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<% if session[:user_id] %>
					<li><a href="/users/<%=session[:user_id]%>">Profile</a></li>
				<% else %>
					<li><a href="/sessions/new">Profile</a></li>
				<% end %>
				<li class="active"><a href="/users/<%= session[:user_id] %>/edit">Edit User</a></li>
				<% if @channel.exists? %>
					<li><a href="/channels/<%= @channel[0].id %>/edit">Edit Channel</a></li>
				<% else %>
					<li><a href="/channels/new">New Channel</a></li>
				<% end %>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Admin</a></li>
				<% if session[:user_id] %>
					<li><a class="logout" href="/logout">Logout</a></li>
				<% else %>
					<li><a class="logout" href="/sessions/new">Login</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<!-- Show the current user information -->
<div class="col-md-6 col-md-offset-3">
	<div class="block">
		<h2><%= @user.username %></h2>
		<p><%= image_tag @user.avatar.url(:medium) %></p>
		<p><%= @user.created_at.strftime("Created on: %H:%M  %b %d, %Y") %></p>
		<p><%= @user.updated_at.strftime("Last Updated: %H:%M  %b %d, %Y") %></p>
	</div>
</div>

<!-- Form to edit the user -->
<% if session[:user_id] == @user.id %>	
	<div class="col-md-6 col-md-offset-3">
		<div class="block">
			<h2>Editting <%= @user.username %></h2>
			<%= form_for :user, url: 'patch' do |f| %>
				<div class='form-group'>
					<label for='usr'>User Name:</label>
					<%= f.text_field :username, :value => @user.username, :class => 'form-control', :id => 'usr'%>
		    </div>
				<div class='form-group'>
					<label for='email'>Email Address:</label>
					<%= f.text_field :email, :email => @user.email, :class => 'form-control', :id => 'email'%>
		    </div>
				<div class='form-group'>
					<label for='avatar'>User Avatar:</label>
					<%= f.file_field :avatar, :class => "btn btn-default", :id => 'avatar' %>
				</div>
				<%= f.submit "Update", :class => "btn btn-primary pull-left" %>
			<% end %>

			<!-- Form to delete the user, this really needs a confirmation modal perhaps -->
			<%= form_for :user, url: 'delete' do |f| %>
				<%= f.submit "Delete", :class => "btn btn-danger pull-right" %>
			<% end %>

			<br><br>
			
		</div>
	</div>
<% end %>