<!-- Collapsible navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href=""><img class="logo" src="/assets/logos/logo-full.png" alt="Chat Channel" height="50"></a>
		</div>
		<div class="collapse navbar-collapse" id="nav">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="">Your Profile<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<% if session[:user_id] %>
							<li><a href="/users/<%=session[:user_id]%>">Your Profile</a></li>
							<li><a href="/users/<%= session[:user_id] %>/edit">Edit User</a></li>
							<% if @channel.exists? %>
								<li><a href="/channels/<%= @channel[0].id %>/edit">Edit Channel</a></li>
							<% else %>
								<li><a href="/channels/new">New Channel</a></li>
							<% end %>
						<% else %>
							<li><a href="/sessions/new">Profile</a></li>
						<% end %>
					</ul>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/admin">Admin</a></li>
				<% if session[:user_id] %>
					<li><a href="/logout">Logout</a></li>
				<% else %>
					<li><a href="/sessions/new">Login</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<!-- Showing basic information about the user -->
<div class="col-sm-8 col-sm-offset-2">
	<h2>Showing User!</h2>
	<div class="block">
		<p>Username: <%= @user.username %></p>
		<p>Email: <%= @user.email %></p>
		<p><%= image_tag @user.avatar.url(:medium) %></p>
	</div>
</div>

<!-- Show a user's channel if it exists -->
<div class="col-sm-8 col-sm-offset-2">
	<% if @channel.exists? %>
		<h2><%= @channel[0].user.username %>'s Channel!</h2>
		<div class="channel">
			<%= image_tag(@channel[0].logo.url(:thumb), :class => "image") %>
			<div class="text">
				<h3><a href="/channels/<%= @channel[0].id %>"><%= @channel[0].name %></a></h3>
				<p><%= @channel[0].description %></p>
				<p><%= @channel[0].user.username %></p>
			</div>
		</div>
	<% end %>
</div>