<!-- Collapsible navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Chat Channel</a>
		</div>
		<div class="collapse navbar-collapse" id="nav">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<% if session[:user_id] %>
					<li class="active"><a href="/users/<%=session[:user_id]%>">Profile</a></li>
				<% else %>
					<li><a href="/sessions/new">Profile</a></li>
				<% end %>
				<li><a href="/users/<%= session[:user_id] %>/edit">Edit User</a></li>
				<% if @channel.exists? %>
					<li><a href="/channels/<%= @channel[0].id %>/edit">Edit Channel</a></li>
				<% else %>
					<li><a href="/channels/new">New Channel</a></li>
				<% end %>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Admin</a></li>
				<% if session[:user_id] %>
					<li><a href="/logout">Logout</a></li>
				<% else %>
					<li><a href="/sessions/new">Login</a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<!-- Showing basic information about the user -->
<div class="col-md-6 col-md-offset-3">
	<h2>Showing User!</h2>
	<div class="block">
		<p>Username: <%= @user.username %></p>
		<p>Email: <%= @user.email %></p>
		<p><%= image_tag @user.avatar.url(:medium) %></p>
	</div>
</div>

<!-- Show a user's channel if it exists -->
<div class="col-md-6 col-md-offset-3">
	<% if @channel.exists? %>
		<h2><%= @channel[0].user.username %>'s Channel!</h2>
		<div class="channel">
			<%= image_tag(@channel[0].logo.url(:thumb), :class => "image") %>
			<div class="text">
				<h3><a href="/channels/<%= @channel[0].id %>"><%= @channel[0].name %></a></h3>
				<p><%= @channel[0].description %></p>
				<p><%= @channel[0].user.username %></p>
			</div>
		</div>
	<% end %>
</div>